header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;

    width: 100%;
    height: 6.5rem;

    background-color: var(--primary-light-color);
}

header div.header__logo {
    display: flex;
    align-items: center;
}

header div.header__logo i {
    cursor: pointer;

    color: var(--text-light-color);
    margin-right: 2rem;

    font-size: 3rem;
}

header div.header__logo img {
    width: 13rem;
}

header .header__logout {
    cursor: pointer;

    display: flex;
    align-items: center;

    transition: .4s;
}

header .header__logout:hover {
    opacity: .8;
}

header .header__logout i {
    color: var(--text-light-color);
    font-size: 2.5rem;

    margin-right: 1rem;
}

header .header__logout p.logout__text {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text-light-color);

    margin: 0;
}

main.mainMenu {
    display: flex;
}

aside {
    position: sticky;
    top: 0;
    left: 0;

    height: 100vh;
    width: 25rem;

    padding-top: 6.5rem;

    background-color: var(--secondary-dark-color);
}

aside .menu__option i {
    margin-right: 1rem;
}

aside .menu__option a {
    color: var(--text-light-color);
    text-decoration: none;
    font-size: 1.8rem;

    display: block;

    padding: 2rem 0 2rem 2rem;

    border-bottom: 1px solid var(--tertiary-dark-color);

    transition: .4s;
}

aside .menu__option a:hover {
    background-color: var(--tertiary-dark-color);
}

section {
    margin-top: 6.5rem;
    padding: 3rem 5rem;

    width: 100%;
}

/* Estilização das funcionalidades base do sistema */
div.list_items__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;
}

div.list_items__title h1 {
    font-size: 3.8rem;
    color: var(--primary-dark-color);
}

div.list_items__title a {
    font-size: 1.6rem;
    color: var(--text-light-color);
    text-decoration: none;

    padding: 1rem 2rem;

    background-color: var(--insert-background-color);
    border-radius: .5rem;

    transition: .4s;
}

div.list_items__title a:hover {
    background-color: var(--insert-hover-background-color);
}

div.table_container {
    overflow: auto;

    margin-top: 5rem;
}

.list_items table {
    font-size: 1.6rem;
}

.list_items table td,
.list_items table th {
    padding: 1.2rem;
}

.actions {
    color: var(--text-light-color);
    background-color: var(--primary-light-color);
    padding: .7rem;
    border-radius: .5rem;
    margin-right: 1rem;

    transition: .4s;
}

.actions:nth-of-type(2) {
    background-color: var(--delete-background-color);
}

.actions:hover {
    color: var(--text-light-color);
}

#noItemsFound {
    font-size: 1.8rem;
    text-align: center;
    color: var(--tertiary-dark-color);

    margin-top: 5rem;
}