@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

/* Estilo para os alertas da bilioteca SweetAlert2 */

.swal2-title {
    font-size: 2.8rem;
}

.swal2-confirm {
    font-size: 1.6rem;
}

#swal2-html-container {
    font-size: 1.8rem;
}